{% extends "base.html" %}

{% block content %}
<h2>About Vieques</h2>
<p>Vieques is a small island off the coast of mainland Puerto Rico. It's home to tons of empty beaches, wild horses and the world's brightest bioluminescent bay. You can find quite a bit of info about Vieques at enchanted-isle.com, but I'll give you the highlights.
</p>
<h3>Getting there</h2>
<p>
The best way to get to Vieques is by plane. You can take most commercial airlines into San Juan International airport. From there, you need to take a 20 minute prop plane flight to the island of Vieques. There are several companies that have a presence right in the San Juan Airport terminal. From my research, I've found <a href="http://www.flycapeair.com/">Cape Air</a> to be the cheap and reliable. There's also <a href="http://www.seaborneairlines.com/">Seaborne Airlines</a>, <a href="http://viequesairlink.com/">Vieques Airlink</a>,  and <a href="http://enchanted-isle.com/vieques/air-trans.htm">more</a>. </p>
<p>In addition to flying, you can also take a cab from San Juan airport to Fajardo and take the ferry. The ferry is only $2 but the cab ride can be up to $80 so the cost ends up about the same. Once you get to Vieques you can use Publico, the public transportation system to get to your accomodations, or contact one of us. Publico is essentially a group taxi cab. There are several Publico drivers that you can call to come pick you up. The fare is usually around $3-$5. The Publico vans are kind of like the super shuttles to the airport. You won't be the only person riding in the van and they'll drop people off depending on location, not who got in first. Here is a list of Publico drivers on the island:
<ul>
<li>Alba Melendez - (787) 206-0456</li>
<li>Ana Robles (taxi) - (787) 741- 2318, (787) 313-0599</li>
<li>Carlos y Denisse - (787) 447-8697/ (787) 644-7112</li>
<li>Edna Robles - (787) 630-4673</li>
<li>Eric - (787) 741-0448</li>
<li>Fernando (787) 605-4100</li>
<li>Henry - (787) 741-8621, (787) 649-3838</li>
<li>Jorge - (787) 741-2116</li>
<li>Jose Morales - (787) 435-4277</li>
<li>Julian - (787) 385-7604</li>
<li>Luis Gonzalez - (787) 435-3805</li>
</ul>
</p>
<h3>Where to Stay</h3>
<p>There are two main towns on Vieques: Esperanza and Isabel II. The wedding, reception and the house we're renting are all located in Esperanza. The main thoroughfare in Esperanza is called the Malecon. On one side of the Malecon is the ocean and the other is restaurants and guesthouses. The house we'll be hosting parties at is two blocks from the Malecon. The wedding will be at Sun Bay, a 15 minute walk from the Malecon. And lastly, the reception will be held at Bili Restaurant, which is part of the Amapola Inn, on the Malecon. We've tried to plan it so that you won't need to rent a car if you don't want to. You could stay at a guesthouse in Esperanza and be within walking distance of all the activities. You could also use the Publico to get around to other places.
</p>
<p>
Here is a <a href="http://enchanted-isle.com/vieques/vieques-hotels.htm">listing of guesthouses in Vieques</a>, organized by region of the island. You can also check out <a href="http://www.tripadvisor.com/Hotels-g147326-c2-Isla_de_Vieques_Puerto_Rico-Hotels.html">TripAdvisor for reviews and more listings</a>. We recommend staying in a place in Esperanza, as it's where all of the wedding events take place. 
</p>

<h3>When Should I Arrive?</h3>
<p>Whenever is convenient for you! We will be renting out the large house starting Thursday, May 24th, 2012. Feel free to come by if you're already in town. We'll also be having BBQs at the house, going to the Bio Bay and other fun stuff. All these events will be listed on the <a href="{% url all_events %}">RSVP page</a>.
</p>

<h3>Maps and Directions</h3>
<p>Here are some printable maps of Vieques:
<ul>
<li><a href="/static/img/vieqes.pdf">Vieques</a></li>
<li><a href="/static/img/isabel_esperanza.pdf">Esperanza and Isabel II Close Ups</a></li>
</ul>
</p>
<p>And here's a google map with some important places</p>
<iframe width="550" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;mpa=0&amp;ctz=300&amp;mpf=0&amp;ie=UTF8&amp;msa=0&amp;msid=200584389588312158546.0004b1b860a2bbec53f8b&amp;t=m&amp;vpsrc=6&amp;ll=18.097356,-65.47019&amp;spn=0.014277,0.023603&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;mpa=0&amp;ctz=300&amp;mpf=0&amp;ie=UTF8&amp;msa=0&amp;msid=200584389588312158546.0004b1b860a2bbec53f8b&amp;t=m&amp;vpsrc=6&amp;ll=18.097356,-65.47019&amp;spn=0.014277,0.023603&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Vieques</a> in a larger map</small>
<h3>To Whet Your Appetite...</h3>
<iframe width="580" height="360" src="http://www.youtube.com/embed/IZ3x-QsBrrc" frameborder="0" allowfullscreen></iframe>
{% endblock content %}

