<!DOCTYPE html>
<html>
<head>
<title>Kaitlin and Steve are Getting Married!</title>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/styles/main.css" type="text/css" media=screen />
</head>
<body>
<div id="content-container">
    <h1>Steve and Kaitlin's Wedding</h1>
    <div id="columns">
        <div id="content-left">
            <div class="blue-border"> 
            {% block content %} {% endblock content %}
            </div>
        </div>
        <div id="content-right">
            {% include "navigation.html" %}    
            {% block right-rail %} {% endblock right-rail %}
        </div>
    </div>




</div>
</body>
</html>
