{% extends "base.html" %}

{% block content %}
<h2>Wedding Registry</h2>
<p>
If you are coming to our wedding, PLEASE DO NOT GET US A GIFT. Your presence is gift enough! We only created a registry in case there are people who can't make the wedding but are still insistent on getting us a gift. As such, we only have a very small registry for just these cases. We have a few items in an Amazon.com registry, located <a href="http://www.amazon.com/gp/registry/wedding/ref=gno_listpop_wr">here</a>.

</p>
{% endblock content %}
