{% extends "base.html" %}

{% block content %}
<p>



<object width="250" height="250"><param name="movie" value="http://grooveshark.com/widget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&playlistID=60848638&bbg=226579&bth=226579&pfg=226579&lfg=226579&bt=FFFFFF&pbg=FFFFFF&pfgh=FFFFFF&si=FFFFFF&lbg=FFFFFF&lfgh=FFFFFF&sb=FFFFFF&bfg=e89d7b&pbgh=e89d7b&lbgh=e89d7b&sbh=e89d7b&p=0" /><embed src="http://grooveshark.com/widget.swf" type="application/x-shockwave-flash" width="250" height="250" flashvars="hostname=cowbell.grooveshark.com&playlistID=60848638&bbg=226579&bth=226579&pfg=226579&lfg=226579&bt=FFFFFF&pbg=FFFFFF&pfgh=FFFFFF&si=FFFFFF&lbg=FFFFFF&lfgh=FFFFFF&sb=FFFFFF&bfg=e89d7b&pbgh=e89d7b&lbgh=e89d7b&sbh=e89d7b&p=0" allowScriptAccess="always" wmode="window" /></object>
</p>
{% endblock content %}
