
body, div, img, h1 { margin: 0; padding: 0; font-family: 'IM Fell DW Pica', serif; }
body { background-color: #226579; }
h1 { background: url('/static/img/kaitlin_and_steve_thin.jpg') top left no-repeat; width: 985px; height: 200px; display:block; border: 8px solid white; border-bottom:none; }
h1 span { padding-left:325px; padding-top: 50px; display:block; }
div#content-container { width: 1024px; margin: 0 auto; color: white; font-family: georgia; font-size: 12pt; }
div#content-container p, h2, h3, iframe { margin: 20px; padding: 10px; }

div#columns { width: 100%; }
div.blue-border { border: 2px solid #408484; margin: 20px;}
div#content-left { float:left; width: 674px; background-color:white; font-family:'Prociono', serif; line-height:22px; color: black; }
div#content-right { float:left; width: 319px;  vertical-align:top;  background-color: #EFB98B; border: 8px white solid; margin-left: -8px; }
div#content-left ul li { margin: 10px; }
div#header { width: 1008px; border: 8px white solid; margin-bottom: -8px; } 
div#header img { display:block; }
ul.nav { list-style-type: none;  }
ul.nav li { list-style-type:none; font-size: 1.4em; margin: 10px;}
ul.nav li a {text-decoration: none; color:white; }
ul.nav li a:hover { text-decoration: underline; }

