
body, div, img { margin: 0; padding: 0; }
body { background-color: #89B6F9; }

div#content-container { width: 1024px; margin: 0 auto; color: white; font-family: georgia; font-size: 12pt; }

div#columns { width: 100%; }
div#content-left { float:left; width: 674px; background-color:#71A417; border: 8px white solid; }
div#content-right { float:left; width: 326px;  vertical-align:top;  background-color: #71A417; border: 8px white solid; margin-left: -8px; }

div#header { width: 1008px; border: 8px white solid; margin-bottom: -8px; } 
div#header img { display:block; }
