{% extends 'base.html' %}

{% block title %}Viewing Event {{ event.title }}{% endblock %}

{% block content %}
    <h2>{{ event.title }}</h2>
    
    <h3 style="margin-bottom: 5px;padding-bottom: 0px;">Event Details</h3>
    <p style="margin-top: 5px; padding-top:5px;">
    {{ event.description|linebreaksbr }}
    <br /><br />
    <strong>Date:</strong> {{ event.date_of_event|date:"F j, Y @ f a" }}
    {% if event.hosted_by %}
            <br /><br />
            <strong>Hosted By:</strong>
            {{ event.hosted_by }}
    {% endif %}
    
    {% if event.street_address %}
            <br /><br />
            <strong>Address:</strong><br>
            {{ event.street_address }}<br>
            {{ event.city }}, {{ event.state }} {{ event.zip_code }}<br>
            {{ event.telephone }}
    {% endif %}
    </p> 
    <h2>Will You Be Attending?</h2>
    
    <form method="post" action=".">{% csrf_token %}
    <input type="hidden" name="event_id" id="id_event_id" value="{{event.id}}" />
    {% for error in form.subject.errors %}{{error}} {% endfor %}
            <ul>
            <li><span class="error">{{form.non_field_errors}}</span></li>
            <li class="form-name"><label for="name">Name(s):</label><br />{{form.name}}<br />
                <em>{% if form.name.errors %} <span class="error">{{form.name.errors}}</span><br/>{% endif%}Enter the name(s) on your invitation envelope, exactly as it appears</em><br />
            </li>
        <li><label for="email">Email:</label><br />{{form.email}}<br />{{form.email.errors}}</li>
            <li><label for="attending">Attending:</label><span id="attending">{{form.attending}}</span><br />{{form.attending.errors}}</li>
<!--            <li><label for="number_of_guests">No. of Guests</label><span class="error">{{form.number_of_guests}}</span><br />{{form.number_of_guests.errors}}</li>-->
            <li><label for="comments">Comments:</label><br />{{form.comment}}<br />{{form.comment.errors}}</li>
            </ul>
            <input style="margin-left:50px; padding: 7px 15px; cursor:pointer; font-weight: bold; font-size: 16px; font-family:'IM Fell DW Pica', serif; background-color: white; border: 2px solid black;" type="submit" value="R.S.V.P.">
    </form>
    
{% endblock %}
